.nav {
    display: grid;
    grid-template-columns: 1fr 1fr;

    padding: 10px;
    border: 1px solid #ccc;
}

.nav-left {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.stacks-icons {
    display: flex;
    gap: 5px;
}

.stack-box {
    width: 30px;
    height: 30px;
    border: 2px solid #333;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background-color: white;
}

.stack-img {
    width: 80%;
    height: 80%;
    object-fit: contain;
}
.nav-right {
    display: flex;
    align-items: center;
    justify-content: end;
}
.portfolio-title{
    font-size: 3rem;
}
.stacks-title{
    align-self: center;
}